<!DOCTYPE html>
<html lang="en">
<head>
	<title>College of Engineering and Technology</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	

	<link rel="shortcut icon" href="{{url_for('static', filename = 'msuiit.png' )}}">
</head>
<body>
	<div class="container">

		<div class="card bg text-white" style="background-color: #750400">
			<h2>
		    	<div class="card-body text-center">College of Engineering and Technology</div>
			</h2>
		 </div>

	<br>
    <div class="container">

	 <div class="row">

	    <h2><a href="/" class="btn btn-info pull-left" role="button">Back to Student Records</a></h2>

	  </div>

	</div>

	</div>



	<div class="container">
		<br>
		<div class="card-columns">

			<div class="card bg">
			    <img class="card-img-top" src="{{url_for('static', filename='chemEng.jpg')}}" alt="Card image cap">
			    <div class="card-body text-center">
			     	<h5 class="card-title">Chemical Engineering and Technology Department</h5>
			     	<h6>
			       		<a href="/chemical engineering and technology department" class="card-link">View Department</a>
			       	</h6>
			    </div>
			</div>

			<div class="card" style="height: 366px;">
			    <img class="card-img-top" src="{{url_for('static', filename='civilEng.jpg')}}" alt="Card image cap" style="height: 238px;">
			    <div class="card-body text-center">
			     	<h5 class="card-title">Civil Engineering Department</h5>
			     	<h6>
			       		<a href="/civil engineering department" class="card-link">View Department</a>
			       	</h6>
			    </div>
			</div>

			<div class="card" style="height: 366px;">
			    <img class="card-img-top" src="{{url_for('static', filename='elecEng.jpg')}}" alt="Card image cap" style="height: 238px;">
			    <div class="card-body text-center">
			     	<h5 class="card-title">Electrical and Electronics Engineering and Technology Department</h5>
			     	<h6>
			       		<a href="/electrical and electronics engineering and technology department" class="card-link">View Department</a>
			       	</h6>
			    </div>
			</div>

			<div class="card" style="height: 366px;">
			    <img class="card-img-top" src="{{url_for('static', filename='mineralEng.jpg')}}" alt="Card image cap" style="height: 238px;">
			    <div class="card-body text-center">
			     	<h5 class="card-title">Materials and Resources Engineering and Technology Department</h5>
			     	<h6>
			       		<a href="/materials and resources engineering and technology department" class="card-link">View Department</a>
			       	</h6>
			    </div>
			</div>
			
			<div class="card" style="height: 366px;">
			    <img class="card-img-top" src="{{url_for('static', filename='mechanicalEng.jpg')}}" alt="Card image cap" style="height: 238px;">
			    <div class="card-body text-center">
			     	<h5 class="card-title">Mechanical Engineering and Technology Department</h5>
			     	<h6>
			       		<a href="/mechanical engineering and technology department" class="card-link">View Department</a>
			       	</h6>
			    </div>
			</div>
			
			<div class="card" style="height: 366px;">
			    <img class="card-img-top" src="{{url_for('static', filename='graduateEng.jfif')}}" alt="Card image cap" style="height: 238px;">
			    <div class="card-body text-center">
			     	<h5 class="card-title">COET Graduate Programs Department</h5>
			     	<h6>
			       		<a href="/COET Graduate Programs Department" class="card-link">View Department</a>
			       	</h6>
			    </div>
			</div>

		</div>


		

	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>