<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Student Data Management System</title>

    <link href="{{url_for('static', filename = 'css/bootstrap.min.css')}}" rel="stylesheet">
        
	<link rel="shortcut icon" href="{{url_for('static', filename = 'msuiit.png' )}}">

	

 
</head>

<body>


<div class="container">

    <div class="well text-center" style="width: 1170px;">

        <h1>Student Database System</h1>

    </div>