<!DOCTYPE html>
<html lang="en">
<head>
	<title>Marketing Department</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


	<link rel="shortcut icon" href="{{url_for('static', filename = 'msuiit.png' )}}">
</head>
<body>
	<div class="container">

		<div class="card bg text-white" style="background-color: #F5B514;">
			<h2>
		    	<div class="card-body text-center">Marketing Department</div>
			</h2>
		 </div>

	<br>
    <div class="container">

	 <div class="row">

	    <h2><a href="/" class="btn btn-info pull-left" role="button">Back to Student Records</a></h2>

	  </div>

	</div>

	</div>



	<div class="container">
		<br>
		<div class="card-columns">

			<div class="card" style="height: 366px;">
			    <img class="card-img-top" src="{{url_for('static', filename='marketing.png')}}" alt="Card image cap" style="height: 238px;">
			    <div class="card-body text-center">
			     	<h5 class="card-title">Bachelor of Science in Business Administration major in Marketing Management</h5>
			    </div>
			</div>

		</div>
			
	</div>


		

	</div>


	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>